<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
        <p class="about">
            <span> Sistema de seguridad en tiempo real de la asistencia</span> Tu seguridad es nuestra prioridad. Evita ponerte en riezgos innecesarios.
        </p>
        <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span> Calle transito rojas</span> Jalapa, Jalapa</p>
        </div>
        <div>
            <i class="Tel:"></i>
            <p> +502 7922 0013</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> Adminstrativo@liceojala.com</a></p>
        </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
        <h2> SSTRA<span> Liceo Jalapa</span></h2>
        <p class="menu">
            <a href="#"> Home</a> |
            <a routerLink="/vision"> Visión</a> |
            <a routerLink="/mision"> Misión</a>|
            <a routerLink="/ayuda"> Ayuda</a>

        </p>
        <p class="name"> Sistema de segurida en tiempo real de la asistencia &copy; 2020</p>
    </div>
</footer>