<br>
<br>

<hr>
<h2 align="center">BIENVENIDOS AL SISTEMA DE SEGURIDAD EN TIEMPO REAL DE LA ASISTENCIA</h2>
<hr>
<hr>
<h4 align="center">SELECCIONE SU ACTIVIDAD DENTRO DEL SISTEMA</h4>
<hr>
<br>


<button class="nav-link" routerLink="/regtercero" class="btn btn-primary btn-lg btn-block">Registrar un tercero </button>
<br>

<button class="nav-link" routerLink="/regnotipadre" class="btn btn-primary btn-lg btn-block">Enviar notificación</button>
<br>
<button class="nav-link" routerLink="/entradahoy" class="btn btn-primary btn-lg btn-block">Asistencia en tiempo real</button>
<br>
<button class="nav-link" routerLink="/historialentrada" class="btn btn-primary btn-lg btn-block">Historial de entrada</button>
<br>
<button class="nav-link" routerLink="/historialsalida" class="btn btn-primary btn-lg btn-block">historial de salida </button>
<br>