<br>
<br>

<hr>
<h2 align="center">BIENVENIDOS AL SISTEMA DE SEGURIDAD EN TIEMPO REAL DE LA ASISTENCIA</h2>
<hr>
<hr>
<h4 align="center">SELECCIONE SU ACTIVIDAD DENTRO DEL SISTEMA</h4>
<hr>
<br>
<button class="nav-link" routerLink="/sugalum" class="btn btn-primary btn-lg btn-block">Sugerencias de alumnos</button>
<br>

<button class="nav-link" routerLink="/tercero" class="btn btn-primary btn-lg btn-block">Notificación de terceros</button>
<br>

<br>

<button class="nav-link" routerLink="/situaalum" class="btn btn-primary btn-lg btn-block">Notificación de situaciones</button>
<br>

<br>

<button class="nav-link" routerLink="/notifpadre" class="btn btn-primary btn-lg btn-block">Notas de encargados</button>
<br>

<br>

<button class="nav-link" routerLink="/inscripcion" class="btn btn-primary btn-lg btn-block">Registrar alumno</button>
<br>