<hr>
<h3 align="center">Inicio de Sesión</h3>
<hr>
<p>Para iniciar sesión en el sistema debes:</p>
<p>1. Debes dirigirte al colegio para solicitar tu información de usuario (usuario y contraseña). </p>
<p>2. Si ya posees tu usuario y contraseña, ingresa a la siguiente dirección. Firebase.SSTRA.com </p>
<p>3. Selecciona INGRESAR he ingresa tu información. </p>
<p> 4. Luego se te posicionara en una pantalla principal en la cual podrás acceder a tu rol, Estudiante, Administrativo o Encargado.(Recuerda que tu rol ya se asignó luego que solicitaras tu información en el colegio).</p>
<hr>
<h3 align="center">Recuperación de Contraseña</h3>
<hr>
<p>Para recuperar tu contraseña acércate al colegio y en la administración solicitar la contraseña, recuerda que solamente puedes recuperarla de forma personal, debes presentar tu DPI registrado.</p>
<hr>
<h3 align="center">Para más información</h3>
<hr>
<p>Comunícate al número del establecimiento 7922-0000 </p>